.user-list {
	width: 250px;
}

.user-list > p {
	display: flex;
	justify-content: center;
	font-weight: 600;
}

.user-card {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border-radius: 4px;
}

.user-card > p {
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px;
	margin-left: 10px;
	width: 100px;
}
