.user-icon {
	background-color: gray;
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
	font-weight: bold;
}

.small {
	height: 36px;
	width: 36px;
	margin: 0px 8px;
	font-size: small;
}

.red {
	background-color: #d62e9e;
}

.yellow {
	background-color: #e9e583;
}

.green {
	background-color: #18c988;
}

.blue {
	background-color: rgb(119, 160, 236);
}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}
