.dialog {
	background-color: lightgray;
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.message-view {
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	height: calc(100% - 50px);
	width: 100%;
}

.message-view > :first-child {
	margin-top: auto !important;
}

.message-view > :last-child {
	margin-bottom: 10px;
}
