#user-menu {
  background-color: #f2f3f5;
  position: fixed;
  top: 0;
  margin-top: 16px;
  z-index: 10;
  text-align: center;
  padding: 8px; 
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#user-menu-items {
  display: flex;
  flex-direction: row;
}

.user-menu-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  padding-left: 0;
  border-radius: 4px;
}

.user-menu-item:hover {
  background-color: rgb(248, 248, 248);
  cursor: pointer;  
}

.selected-user {
  background-color: white !important;
}

.user-menu-item p {
  margin: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.directions {
  font-weight: bold;
}