.message-container {
	height: auto;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.message-container.new-message {
	margin-top: 10px;
	margin-bottom: 2px;
}

.message-container > p {
	border-radius: 5px;
	width: fit-content;
	word-wrap: break-word;
	max-width: 55vw;
	padding: 5px 10px;
	margin: 0px 0px;
	background-color: #f2f3f5;
}

.user-icon-filler {
	width: 52px;
}
.message-container.user-sent {
	justify-content: flex-end;
}

.message-container.user-sent > p {
	background-color: rgba(100, 148, 237, 0.45);
}
